.move-enter {
  position: relative;
  background-color: #000 !important;
  color: #fff !important;
  box-shadow: 10px 10px 10px rgb(128, 127, 127) !important;
  animation-name: identifier;
  animation-duration: 1s;
}

@keyframes identifier {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}
